/* SELECTOR DE ETIQUETA */

body 
{
    font-family: 'Raleway';
    color: #ffffff;
}

hr {
    position: relative;
    top: 20px;
    border: none;
    height: 12px;
    background: black;
    margin-bottom: 50px;
}
.navbar{
    background-color: transparent !important;
    color: #ffffff;
}